.link,
.linkp {
  color: inherit;
}
.link:hover {
  text-decoration: none;
  color: inherit;
}
.linkp:hover {
  text-decoration: none;
  color: black;
}
.badge {
  position: absolute;
  margin: -10px;
}
.search_inp :focus {
  border: 1px solid lightgray !important;
  /* outline: none !important; */
  box-shadow: none !important;
}
* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
